<h1>Hola {{user}}!!</h1>

<p>Nombre: {{first_name}}</p>
<p>Apellido: {{last_name}}</p>
<p>Email: {{email}}</p>
<p>Edad: {{age}}</p>
<p>Rol: {{rol}}</p>
<p>Cart: {{cart}}</p>
<form action="/api/sessions/logout" method="POST">
    <button class="btn btn-danger m-1">Logout</button>
</form>